ode-soap-performance/bpelContent/CSVFile.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.wscomposition.org/CSVFile/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.wscomposition.org/CSVFile/" name="CSVFile">
<types>
<xsd:schema>
<xsd:import namespace="http://www.wscomposition.org/CSVFile/" schemaLocation="http://localhost:9002/CSVFile?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="AddEntryRequest">
<part name="key" type="xsd:string"></part>
<part name="value" type="xsd:string"></part>
<part name="path" type="xsd:string"></part>
</message>
<message name="AddEntryRequestResponse">
<part name="return" type="tns:csvFileResponse"></part>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"></part>
</message>
<message name="CleanupRequest">
<part name="path" type="xsd:string"></part>
</message>
<message name="CleanupRequestResponse">
<part name="return" type="tns:csvFileResponse"></part>
</message>
<portType name="CSVFileServiceImpl">
<operation name="AddEntryRequest" parameterOrder="key value path">
<input wsam:Action="http://www.wscomposition.org/CSVFile/CSVFileServiceImpl/AddEntryRequestRequest" message="tns:AddEntryRequest"></input>
<output wsam:Action="http://www.wscomposition.org/CSVFile/CSVFileServiceImpl/AddEntryRequestResponse" message="tns:AddEntryRequestResponse"></output>
<fault message="tns:IOException" name="IOException" wsam:Action="http://www.wscomposition.org/CSVFile/CSVFileServiceImpl/AddEntryRequest/Fault/IOException"></fault>
</operation>
<operation name="CleanupRequest">
<input wsam:Action="http://www.wscomposition.org/CSVFile/CSVFileServiceImpl/CleanupRequestRequest" message="tns:CleanupRequest"></input>
<output wsam:Action="http://www.wscomposition.org/CSVFile/CSVFileServiceImpl/CleanupRequestResponse" message="tns:CleanupRequestResponse"></output>
<fault message="tns:IOException" name="IOException" wsam:Action="http://www.wscomposition.org/CSVFile/CSVFileServiceImpl/CleanupRequest/Fault/IOException"></fault>
</operation>
</portType>
<binding name="CSVFileSOAPBinding" type="tns:CSVFileServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="AddEntryRequest">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://www.wscomposition.org/CSVFile/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://www.wscomposition.org/CSVFile/"></soap:body>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="CleanupRequest">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://www.wscomposition.org/CSVFile/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://www.wscomposition.org/CSVFile/"></soap:body>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="CSVFile">
<port name="CSVFileSOAP" binding="tns:CSVFileSOAPBinding">
<soap:address location="http://localhost:9002/CSVFile"></soap:address>
</port>
</service>
</definitions>