ode-soap-performance/bpelContent/CSVFile.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://www.wscomposition.org/CSVFile/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.wscomposition.org/CSVFile/">

    <xs:element name="IOException" type="tns:IOException"></xs:element>

    <xs:complexType name="csvFileResponse" final="extension restriction">
        <xs:sequence>
            <xs:element name="elapsedTime" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="operationId" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="result" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IOException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>